/*
    Author: Lom Yuen;
    Theme : Food Ordering Website Admin Panel;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 85%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

.clearfix{
    clear: both;
    float: none;
}

/* MANAGE ADMIN */
.tbl-full{
    width: 100%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.show-pwd{
    color: black;
    font-size: 12px;
    font-weight: 100;
}

input[type="checkbox"] {
    cursor: pointer;
}

.button-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: auto;
}

.btn-category {
    width: 185px;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease; /* Add this line */
}

.btn-category:hover {
    background-color: #1c55d9;
}

.btn-primary{
    background-color: #1e90ff;
    border-radius: 5px;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary:hover{
    cursor: pointer;
    background-color: #3742fa;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #2ed573;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.btn-danger:hover{
    background-color: #ff4757;
}

.tbl-30{
    width: 30%;
}

.tbl-42{
    width: 42%;
}

.success{
    color: #2ed573;
    font-weight: bold;
}

.error{
    color: #ff4757;
    font-weight: bold;
}

/* CSS FOR MENU */
.menu{
    text-align: center;
    border-bottom: 1px solid grey;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover{
    color: #fc2739;
}

/* CSS FOR MAIN CONTENT */
.mainContent{
    background-color: #f1f2f6;
    padding:3% 0;
}

.column-4{
    text-align: center;
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* CSS FOR FOOTER */
.footer{
    background-color: #ff4757;
    color: white;
}

.footer p a{
    color: white;
    text-decoration: none;
}

.footer p a:hover{
    font-weight: bold;
    color: black;
}

/* CSS FOR LOGIN */
.login{
    text-align: center;
    border: 1px solid grey;
    width: 20%;
    margin: 10% auto;
    padding: 2%;
}